@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,800,900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', san-serif;
}

 .titulo h3{
	font-size: 1.8em;
	color: #E3E2E2;
	line-height: 1em;
}



section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: #FFFFFF;
	background-size: cover;
	background-position: center;
display: flex;
justify-content: flex-start;
align-items: center;
padding: 100px;
 
}

	.text-primary {
     background: #E5E500;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
     
     font-weight: bold;
}


	.text-muted {
     background: #B0B0B0;
   -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     
    
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo{
position: relative;
font-size: 2em;
color: #E3E2E2;
text-transform: uppercase;
font-weight: 700;
text-decoration: none;
letter-spacing: 1px;
}

header .navigation{
	position: relative;
	display: flex;
}

header .navigation li{
	list-style: none;
	  font-weight: bold;
}


header .navigation li a{
	display: inline-block;
	color: #E3E2E2;
	margin-right: 30px;
	text-decoration: none; 
}

header .navigation li a:hover{
	color: #E5E500;
}

.content
{
	max-width: 600px;
}

.content .contentBx h2{
	font-size: 3em;
	color: #E3E2E2;
	line-height: 1.2em;
}

.titulo h2{
	font-size: 3em;
	color: #E3E2E2;
	line-height: 1.2em;
}

.content .contentBx p{
	font-size: 1.1em;
	color: #B0B0B0;
	font-weight: 300;
	margin: 20px 0;
}

.contentBx p{
	font-size: 1.1em;
	color: #B0B0B0;
	font-weight: 300;
	margin: 20px 0;
}
.content .contentBx a{
	display: inline-block;
	padding: 10px 30px;
	background: #E5E500;
	color: #000;
	text-decoration: none;
	font-weight: 300;
	letter-spacing: 5px;
}

.sci{
	position: absolute;
	bottom: 0px;
	display: flex;
	left: 75px;

}

.sci li{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci li a{
	position: relative;
	display: inline-block;
	margin-right: 20px;
	filter: invert(1);
	transform: scale(0.5);
}

@media (max-width: 991px){
	header
	{
		/*position: absolute;
		top: 0;
		left: 0;
		width: 100px;*/
		padding: 15px 40px;

	}
	section{
		padding: 40px;
		background: url(img/fondo3.jpg);
		background-size: cover;
		background-position: center;
	}
	.content .contentBx h2{
		font-size: 2.5em;
	}
	.content .contentBx p{
		font-size: 1em;
	}
	header .navigation{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #000;
z-index: 10;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;
	}

header .navigation.active{
	display: flex;
}
	header .navigation li a 
	{
		font-size: 24px;
		margin: 10px 0;

	}
	.toggleMenu{
		position: relative;
		width: 30px;
		height: 30px;
		background: url(img/menu.png);
		background-position: center;
		background-size: 30px;
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 11;

	}
	.toggleMenu.active{
		background: url(img/close.png);
		background-position: center;
		background-size: 25px;
		background-repeat: no-repeat;
	}
}


/*codigo nuevo*/
img{

	margin: -10px;
    width:600px;
    height:350px;
   }

    .content .contentBx h3{
	font-size: 1.8em;
	color: #E3E2E2;
	line-height: 1em;
}

.iconify { width: 24px; height: 24px; }

.titulo {
height: ; 
width: 100%;
float: left;
 text-align:center; 
background: #FFFFFF;

}

.iconify { color: #B0B0B0; }

